// COLOR PALETTE
$clrRed: #D2001A;
$clrYellow: #FFDE00;
$clrWhite: #ffffff;
$clrGreay: #d6ceb2a6;
$clrCards: #f0ce54a6;


// LAYOUT
$layoutPadding: 16px;

// LAYOUT BREAKPOINTS
$break-narrow: 600px;
$break-normal: 960px;
$break-wide: 1300px;
$break-Extra-wide: 1700px;